<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h2>ALL LISTINGS!</h2>
    <ul>
        <% for(let item of list){%>
            <li> <a href="/listings/<%=item._id%>"><%= item.title %> </a></li>
        <% } %>
    </ul>

    <p><b>To create new listing :</b></p>
    <form method="get" action="/listings/new">
        <button>Create new Listing!</button>
    </form>
</body>
</html>
